.visual-CalendarVisualA45056645E4E428B9D26EF971839A6B5_DEBUG {
  @import "../node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";
}
.visual-CalendarVisualA45056645E4E428B9D26EF971839A6B5_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-CalendarVisualA45056645E4E428B9D26EF971839A6B5_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-CalendarVisualA45056645E4E428B9D26EF971839A6B5_DEBUG svg {
  cursor: default;
}
